[submodule "assets"]
	path = assets
	url = git@github.com:CosmDandy/dotfiles-assets.git
[submodule "private"]
	path = private
	url = git@github.com:CosmDandy/dotfiles-private.git
[submodule "tools/claude/custom"]
	path = tools/claude/custom
	url = git@github.com:CosmDandy/dotfiles-claude.git
